
@model Rental_Movie.Models.MembershipType
@{
	ViewBag.Title = "MembershipTypeForm";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add a memberShipType</h1>
<link href="~/Content/Site.css" rel="stylesheet" />
@using (Html.BeginForm("Save", "MemberShipTypes"))
{
	<div class="form-group">
		@Html.LabelFor(m => m.Name)
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(m=> m.Name)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.DiscountRate)
		@Html.TextBoxFor(m => m.DiscountRate, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.DiscountRate)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.SignUpFee)
		@Html.TextBoxFor(m => m.SignUpFee, new { @class = "form-control" })
		@Html.ValidationMessageFor(m=> m.SignUpFee)

	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.DurationInMonths)
		@Html.TextBoxFor(m => m.DurationInMonths, new { @class = "form-control" })
		@Html.ValidationMessageFor(m=> m.DurationInMonths)
	</div>

	@Html.HiddenFor(m => m.Id)
	<button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
	@Scripts.Render("~/bundles/jqueryval")
}


